[Interface]
# Name = {{ inventory_hostname }}
#Address = {{ client_ip }}/32
PrivateKey = {{ client_privkey }}

[Peer]
# Name = {{ server_name }}
Endpoint = {{ endpoint_ip }}:{{ wireguard_port }}
PublicKey = {{ server_pubkey }}
AllowedIPs = 0.0.0.0/0, ::/0
PersistentKeepalive = 20
